//! NAVBAR
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: var(--spacing-md) 0 0 0;

  max-width: var(--standard-width);
  // padding: 0 var(--spacing-md);

  .scrolled {}

  .menu {
    @include center;
    list-style: none;

    a {
      color: var(--color-white-light);
      font-weight: bold;
      margin: 0 var(--spacing-md);

      &:hover {
        text-decoration: underline;
      }

    }
  }
}

// ! GRADIENT BACKGROUND 

#gradient-canvas {
  width: 200%;
  height: 970px;
  transform: rotate(-10deg);
  position: absolute;
  top: -600px;
  left: -50%;
  z-index: -1;
  --gradient-color-1: #ef008f;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #7038ff;
  --gradient-color-4: #ffba27;

}

//! HERO CONTENT

.hero {
  width: 100%;

  display: flex;
  justify-content: center;

  padding: calc(var(--spacing-xl) * 2) 0 0 0;

  p {
    width: 480px;
  }

  .btn-container {
    display: flex;
    gap: var(--spacing-md);
    margin: var(--spacing-md) 0;

    Button:nth-of-type(2) {
      color: var(--color-purple-1);
    }

  }

  .hero-phone-container {
    height: 564px;
    align-items: flex-end;

    .hero-phone {
      height: 628px;
      transform: translate(32px, -32px);

    }
  }
}

//! LOGOS SECTION

.logos {
  width: 100%;

  display: flex;
  justify-content: center;

  .logos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: var(--spacing-md);
    row-gap: var(--spacing-lg);
    margin: var(--spacing-xl) 0;
  }

  img {
    height: 60px;
    place-self: center;
  }
}

//! unified-platform SECTION

.unified-platform {
  background-color: var(--color-white-light);

  width: 100%;

  display: flex;
  justify-content: center;
  padding: var(--spacing-xl) 0;

  h2 {
    width: 50%;
    margin-bottom: var(--spacing-md);
  }

  .primary-button {
    margin: var(--spacing-md) 0;
    background-color: var(--color-purple-1);

    &:hover {
      background-color: var(--color-blue-dark);

    }
  }
}

//! graphic-grid SECTION

.graphic-section {
  width: 100%;

  display: flex;
  justify-content: center;
  background-color: var(--color-white);



  .graphic-grid {
    display: grid;
    grid-gap: var(--spacing-lg);
    grid-template-areas:
      "card slack slack"
      "phone slack slack"
      "phone dash dash"
      "phone dash dash"
    ;
    padding: var(--spacing-lg) 0;


  }

  #card {
    grid-area: card;
    width: 100%;
    box-shadow: var(--box-shadow);
  }

  #slack {
    grid-area: slack;
    width: 100%;
    box-shadow: var(--box-shadow);

  }

  #phone {
    grid-area: phone;
    width: 100%;
    box-shadow: var(--box-shadow);

  }

  #dash {
    grid-area: dash;
    width: 100%;
    box-shadow: var(--box-shadow);

  }
}

//! Designed SECTION

.designed-section {
  color: var(--color-white-light);
  // background-color: var(--color-blue-dark);
  padding: calc(var(--spacing-xl) * 3) 0;
  width: 100%;

  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    width: 100%;
    height: 1100px;
    background-color: var(--color-blue-dark);
    position: absolute;
    top: -32px;
    left: 0;
    z-index: -1;
    transform: skewY(-10deg);
  }

  .primary-button {
    color: var(--color-blue-dark);
    background-color: var(--color-blue-light);
    margin: var(--spacing-md) 0 0 0;

    &:hover {
      background-color: var(--color-white);
    }
  }

  .secondary-button {
    color: var(--color-blue-light);

  }

  .card-container {
    display: flex;
    margin: var(--spacing-lg) 0;

    .card {
      width: 50%;
    }
  }

  .col-right {
    #terminal {
      max-width: 470px;
      border-radius: 20px;
      margin-top: var(--spacing-md);
    }

    #api-code {
      max-width: 470px;
      border-radius: 20px;
    }


  }
}

//! Why Swipe SECTION

.why-swipe-section {
  width: 100%;

  display: flex;
  justify-content: center;
  padding: calc(var(--spacing-xl) * 3) 0;


  .card-container {
    display: flex;
    margin: var(--spacing-lg) 0;

    .card {

      width: 25%;
      padding: 0 var(--spacing-sm) 0 0;
      margin: 0 var(--spacing-md) 0 0;

      p {
        color: var(--color-black);
      }
    }
  }
}

//! Global scale SECTION

.global-section {
  // background-color: var(--color-blue-dark);
  // clip-path: polygon(0 24%, 100% 0, 100% 78%, 0% 100%);
  color: var(--color-white);

  width: 100%;
  display: flex;
  justify-content: center;

  position: relative;
  padding: calc(var(--spacing-xl) * 3) 0;

  &::before {
    content: "";
    width: 100%;
    height: 1200px;
    background-color: var(--color-blue-dark);
    position: absolute;
    top: -32px;
    left: 0;
    z-index: -1;
    transform: skewY(-10deg);
  }


  a {
    color: var(--color-blue-light);

    &:hover {
      color: var(--color-white);

    }
  }

  .card-container {
    display: flex;
    margin: var(--spacing-xl) 0;

    .card {
      width: 25%;
      padding: 0 var(--spacing-sm) 0 0;
      margin: 0 var(--spacing-md) 0 0;

      h3 {
        border-left: 2px solid var(--color-blue-light);
        padding: 0 0 0 var(--spacing-sm);
        line-height: 28px;
      }
    }
  }

  #globe {
    max-width: 844px;
    opacity: 25%;
    position: absolute;
    top: 10%;
  }
}

//! Virtual events SECTION

.virtual-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: calc(var(--spacing-xl) * 2) 0;
  background-color: #fff;
  z-index: 2;

  .primary-button {
    background-color: var(--color-purple-1);
    margin-top: var(--spacing-md);

    &:hover {
      background-color: var(--color-blue-dark);

    }
  }

  .col-left {
    height: 446px;
    padding: 0 var(--spacing-xl) 0 0;

  }

  .swipe-card {
    width: 540px;
    height: 446px;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    overflow: hidden;

    .card-top {
      width: 100%;
      @include center;
      position: relative;

      height: 60%;
      background-color: #21D4FD;
      background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);




      .swipe {
        width: 350px;
      }

      .avatars {
        position: absolute;
        bottom: 0;
        left: 30px;


        img {
          width: 80px;
        }

        img:nth-of-type(2) {
          position: absolute;
          left: 58px;
        }
      }


    }

    .card-bottom {
      width: 100%;
      height: 40%;
      padding: var(--spacing-lg) 0 0 var(--spacing-lg);

      .bottom-content {
        .p2 {
          color: var(--color-black);
          width: 40%;
          font-weight: 600;

        }
      }
    }
  }
}

//! waiting SECTION

.waiting-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--spacing-xl) 0;

  .primary-button {
    background-color: var(--color-purple-1);
    margin-top: var(--spacing-md);

    &:hover {
      background-color: var(--color-blue-dark);

    }
  }

  .col-left {
    padding: 0 var(--spacing-xl) 0 0;
    height: 250px;


  }

  .col-right {

    .card-container {
      display: flex;

      .card {
        padding: 0 var(--spacing-sm);

      }

      .secondary-button {
        color: var(--color-purple-1);
      }
    }



  }
}


//! Footer

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--spacing-xl) 0;
  background-color: var(--color-white-light);



  .section-container {
    display: flex;

    .col {
      width: 25%;

      #footer-logo {
        width: 108px;
        margin-bottom: var(--spacing-md);
      }



      .icon-link {
        display: flex;
        align-items: center;
        gap: var(--spacing-md);
        margin: var(--spacing-md) 0;


        img {
          width: 24px;
        }
      }

      a {
        color: var(--color-black);
        font-weight: normal;

        &:hover {
          color: var(--color-purple-1);
          text-decoration: underline;
        }
      }

      h3 {
        font-size: var(--h6-size);
        font-weight: 700;
      }

      ul {
        list-style: none;

        a {
          color: var(--color-black);
        }

        li {
          margin: var(--spacing-md) 0;

        }
      }
    }
  }
}